* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(img/pexels-andrew-neel-3178786.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

nav i {
  display: flex;
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

nav {
  text-align: center;
}

.pemisah {
  background-color: white;
  height: 170px;
  width: 2px;
  margin-left: 9%;
  margin-top: 10%;
  display: flex;
  letter-spacing: 7px;
}

.pendidikan {
  color: white;
  margin-left: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .pemisah {
    display: block;
    height: 320px;
  }
}

