* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(img/Dark\ Forest\ _\ 4k\ wallpaper.jpeg);
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  min-height: 700px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

nav li {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: orange;
  text-decoration: none;
  border-bottom: 2px solid brown;
}

main {
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  margin-left: 270px;
  margin-top: 20%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container img {
  width: 34px;
  height: auto;
  margin-top: 20px;
}

.kenalan {
  padding-top: 20px;
  padding-left: 20px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
}

.garis {
  background-color: white;
  width: 1px;
  height: 120px;
  margin-top: -10%;
  margin-left: -15%;
  /* flex-direction: column; */
  display: flex;
  justify-content: flex-end;
}

.contact i {
  padding-bottom: 30px;
  margin-left: 5px;
}

.contact {
  padding-top: 12px;
}

.ipay {
}
