/* fontsHere */
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Linefont:wght@700&family=Noto+Sans+Old+Italic&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&family=Quicksand:wght@300;500&display=swap');

:root {
  --bg: #fff;
  --color: #111;
  --hover: #666;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


/* navbarStyleStart */
.navbar {
  padding: 10px 5%;
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: var(--bg);
  align-items: center;
  cursor: default;
  position: fixed;
}

.navbar .navbar-logo {
  font-size: 32px;
  font-weight: 700;
}

.navbar .navbar-nav a {
  display: inline-block;
  margin: 0 20px;
  color: var(--color);
}

.navbar .navbar-nav a::after{
  content: "";
  display: block;
  padding-bottom: 0.5px;
  border-bottom: 0.1px solid var(--color);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-extra a{
  color: var(--color);
}

#hamburger-menu {
  display: none;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 77%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 9px;
    font-size: 14px;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-nav {
    top: 100%;
    height: 678px;
    width: 200px;
    bottom: 100%;
    right: -200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #fff;
    transition: 0.2s linear;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
/* navbarStyleEnd */


.container {
  background-image: url(img/pexels-andrew-neel-3178786.jpg);
  /* background-repeat: no-repeat; */
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logo img {
  height: 180px;
  width: auto;
  border-radius: 179px 179px 179px 179px;
-webkit-border-radius: 179px 179px 179px 179px;
-moz-border-radius: 179px 179px 179px 179px;
margin-top: 17%;
box-shadow: 2px 7px 113px 6px rgba(236, 236, 236, 0.75);
-webkit-box-shadow: 2px 7px 113px 6px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 2px 7px 113px 6px rgba(255, 255, 255, 0.75);
}

.front {
color: #B6BBC4;
font-size: 30px;
font-family: fantasy; 
}

.action {
  background-color: #B6BBC4;
  background-size: cover;
  padding-bottom: 20px;
  
}

.projeck p{
  font-size: 90px;
  text-align: center;
  font-family: serif;
  padding-top: 40px;
  color: rgb(0, 0, 0);
}

.gawean {
  display: flex;
  height: 250px;
  gap: 20px;
  padding-top: 20px;
  overflow-x: scroll;
}

.gawean::-webkit-scrollbar-thumb {
  color: var(--color);
}

.gawean img {
  width: auto;
  height: 200px;
}

.rifal {
  background-image: url(img/pexels-cátia-matos-1072179.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.ipai {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
}

.ipai h1{
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
}

.about {
  display: flex;
}

.about p {
  text-align: center;
margin:100px 0 0 0;
}

.about img {
  height: 400px;
  width: auto;
 display: flex;
 margin-left: 20px;
  background-color: #163020;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  box-shadow: 2px 1px 152px 4px #65B741;
-webkit-box-shadow: 2px 1px 152px 4px #65B741;
-moz-box-shadow: 2px 1px 152px 4px #65B741;
}

.yess {
  background-image: url(img/pexels-di-lai-19389843.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
